@font-face {
    font-family: Yeseva;
    src: url(../fontes/YesevaOne-Regular.ttf)
}

* {
    margin: 0;
    font-family: Yeseva;
}
body{
    background-image: url(https://img.imageboss.me/revista-cdn/cdn/25547/e98d18819becd5b9579df6f9ef493b74d4338c43.jpg?1575465612);
    background-size: cover;
    background-blend-mode: luminosity;
    background-color: #604e06;
}
/* Parte da div */
.cadastro{
    display: flex;
    background-color: #F4C507;
    border-radius: 20px;
    width: 30vw;
    height: 80vh;
    border: solid 1px yellow;
    position: absolute;
    left: 450px;
    top: 60px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.div-int{
    width: 25vw;
    height: 67vh;
    background-color:#ffff;
    border-radius: 20px;
    border: solid 1px white;
    position: relative;
    top: 25px;
    bottom: 15px;
}
.campos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.campos input{
    width: 85%;
    border-radius: 25px;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4C507;
    border-color: #F4C507;
    justify-content: flex-start;
}
.btn-cad{
    display: flex;
    justify-content: center;
}
button{
    width: 40%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 30px;
    background-color: #F4C507;
    border-color: #F4C507;
    margin-top: 20px;
    font-size: 75%;
}
h2{
    margin-left: 15px;
}
/* Parte da integração com a API */
.erro{
display: none;
background-color: #fff;
color: black;
width: 230px;
position: fixed;
border-radius: 4px;
border: #e6005a 3px solid;
padding: 10px;
margin-right: 10%;
}