@font-face {
    font-family: Yeseva;
    src: url(../fontes/YesevaOne-Regular.ttf)
}
*{
    font-family: Yeseva;
    margin: 0;
}
.header{
    width: 100%;
    height: 15vh;
    border: solid 1px #F4C507;
    display: flex;
    justify-content: center;
    background-color: #F4C507;
}
.header_h1{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-size: 280%;
    cursor: pointer;
}

.container{
    margin: 20px;
}
.divisoria{
    width: 95vw;
    height: 50%;
    border: solid 1px #F4C507;
}
.div{
    display: flex;
    justify-content:center;
    margin: 20px;
}
.container_banner{
    width: 80%;
    height: 70vh;
    border: solid 1px ;
    border-radius: 30px;
    background-image: url(../img/fundo_quiz.jpg);
    background-size: cover;
}
.quiz{
    width: 58%;
    height: 20vh;
    border: solid 1px #F4C507;
    margin: 45px;
    border-radius: 30px;
    background-color: #F4C507;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
h2{
    font-size: 200%;
}
.footer{
    width: 100%;
    height: 10vh;
    border: solid 1px #F4C507;
    background-color: #F4C507;
}
