@font-face {
    font-family: Yeseva;
    src: url(../fontes/YesevaOne-Regular.ttf)
}
*{
    font-family: Yeseva;
    margin: 0;
}
#regions_div{
    height: 80vh;
    width: 100%;
    display: flex;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    height: 20vh;
    width: 100%;
    background-color: #F4C507;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.topico-header{
width: 25%;
height: 10vh;
background-color: white;
border-radius: 30px;
display: flex;
justify-content: center;
align-items: center;
}
.topico-header p{
    font-size: 25px;
}
button{
    width: 30%;
    height: 10vh;
    border-radius: 30px;
    background-color: white;
    border-color: white;
    cursor: pointer;
}
button p{
    font-size: 25px;
}
.container{
    width: 99.7%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    width: 30%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo p{
    font-size: 50px;
    letter-spacing: 5px;
}
.filho{
    width: 80%;
    height: 25vh;
    background-color: #F4C507;
    border-radius: 40px;
}
.perfil{
    border-radius: 50%;
    width: 15%;
    height: 20vh;
    border: solid 1px green;
    margin-right: 5px;
}
.comentario{
    width: 60%;
    height: 120vh;
    display: flex;
    justify-content: center
}
.footer{
    width: 100%;
    height: 5vh;
    background-color: #F4C507;
}